__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/
.env

.idea/
.vscode/

*.log
runs/
wandb/

data/images/
data/*.csv

checkpoints/*
!checkpoints/.gitkeep
models/*
!models/.gitkeep
logs/*
!logs/.gitkeep

*.pt
*.pth
*.onnx
*.pkl
